body {
	background-color: rgb(240, 225, 205);
}

.wrapper {
	box-sizing: content-box;
	max-width: 1920px;
	min-height: 100%;
	padding: 0 2em 0 2em;
}

h1 {
	font-size: 50px;
	width: 100rem;
}
/* .main{} */
/* .main__wrap{} */
.mem-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 15px;
	transition-duration: 1s;
}

.mem-container:hover .meme__wrap-aling {
	transition-duration: 0.5s;
	background-color: antiquewhite;
}
